
<ion-header style="background-color: aliceblue;">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <p>Cancel</p>
      <!-- <ion-label>Login</ion-label> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="mainBody">

    <ion-item>
      <ion-label>Fullname</ion-label>
      <ion-input [(ngModel)]="fullname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mobile</ion-label>
      <ion-input [(ngModel)]="mobile"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input disabled="true" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-button (click)="save()" expand="block">Save</ion-button>
  </div>
</ion-content>

