
<ion-header style="background-color: aliceblue;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!-- <ion-label>Login</ion-label> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="mainBody">

    <div id="bottomCont">
      <div class="containerDiv">
        <img src='assets/images/car_main.png'/>
      </div><br>
      <p>Please enter your email:</p>
      <h1>Reset your password</h1><br>
      <div class="containerDiv">
        <ion-item class="itemBlock">
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>

      <ion-button (click)="confirmReset()" expand="block">Confirm</ion-button>
    </div>
  </div>
</ion-content>
