
<ion-content>
  <div id="mainBody">

    <div id="bottomCont">
      <div class="containerDiv">
        <img src='assets/images/car_main.png'/>
      </div><br>
      <p>Please enter your email:</p>
      <h1>Reset your password</h1><br>
      <div class="containerDiv">
        <ion-item class="itemBlock">
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>

      <ion-button (click)="confirmReset()" expand="block">Confirm</ion-button>
    </div>
  </div>
</ion-content>
