
<ion-content>
  <div id="mainBody">
    <ion-progress-bar value="0.5"></ion-progress-bar>

    <div id="bottomCont">
      <div id="contentContainer">
        <img src="assets/images/car_main.png"/>
        <div id="vehicleDetails">
          <h6>{{user_fullname}}</h6>
          <!-- <p>Vehice: {{vehicle}}</p> -->
          <!-- <p>Location: not set</p> -->
        </div>
      </div>

      <h1>Select services: </h1>
      <p id="serviceOfferedText">Below are the services on offer</p>

      <ion-radio-group>
        <ion-item *ngFor="let item of services">
          <ion-radio slot="start" value="{{item.Name}}" (ionFocus)="selectService($event,item.Price,item.Name)"></ion-radio>
          <p class="itemName">{{item.Name}}<br/>
            <span class="itemServices" *ngIf="item.services != 'none'">({{item.services}})</span>
          </p>
          <p class="itemprice">R{{item.Price}}</p>
        </ion-item>
      </ion-radio-group>
      <!-- <ion-card class="serviceCard" *ngFor="let item of services">
        <ion-card-content>
            <ion-checkbox (ionChange)="selectService($event,item.Price,item.Name)" class="itemCheck" checked="false"></ion-checkbox>

        </ion-card-content>
      </ion-card> -->

     <ion-item class="divider"></ion-item>
     <div id="pricing">
        <h1 style="font-size:14px;">Total: </h1>

        <p style="font-size:14px;">R{{ sum_of_service }}</p>
     </div>
     <div id="pricing">
        <h1 style="font-size:14px;">VAT: </h1>

        <p style="font-size:14px;">R{{ vat_amount }}</p>
    </div>
    <div id="pricing">
      <h1>Sub Total: </h1>

      <p>R{{ vat_plus_total }}</p>
   </div>
    <ion-button expand="block" (click)="confirmPage()">Continue</ion-button>  
  </div>

  </div>
</ion-content>
