
<ion-content>
  <div id="mainBody">

    <div id="bottomCont">
      <div class="containerDiv">
        <img src='assets/images/car_main.png'/>
      </div><br>
      <p>Proceed with your:</p>
      <h1>Login</h1><br>
      <div class="containerDiv">
        <ion-item class="itemBlock">
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item class="itemBlock">
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" type="{{password_type}}"></ion-input>
          <ion-icon *ngIf="password_type == 'Password'" name="eye-outline" (click)="viewPassword('text')"  slot="end" class="eye"></ion-icon>
          <ion-icon *ngIf="password_type == 'text'" (click)="viewPassword('Password')"  name="eye-off-outline" slot="end" class="eye"></ion-icon>
        </ion-item>
      </div>

      <ion-button (click)="signIn()" expand="block">Login</ion-button>
    </div>
  </div>
  <p id="passwordReset" (click)="passwordReset()">Password reset</p>
</ion-content>
