
<ion-content>
  <div id="mainBody">
    <div id="profileTab">
      <ion-icon id="request" class="callHelp" (click)="Options()" color="secondary" name="ellipsis-vertical-outline"></ion-icon>
      <!-- <ion-icon id="request" name="call-outline"  (click)="requestPage()"></ion-icon> -->
      <ion-icon id="profileIcon" color="secondary"  (click)="profilePage()" name="person-circle-outline"></ion-icon>
      <ion-icon id="request" name="car-sport" (click)="requestPage()"></ion-icon>
    </div>
    <div id="bottomCont">
      <div class="containerDiv">
        <img src='assets/images/car_main.png'/>
      </div><br>
      <h1>QuikWash</h1>
      <h6>JHB car wash service</h6>
      <p>Request our car wash service by clicking 
        the button below.</p>

      <ion-button (click)="servicePage()" expand="block">Request Car Wash</ion-button>


    </div>

  </div>
</ion-content>
