
<ion-content>
  <div id="mainBody">
    <ion-progress-bar value="1"></ion-progress-bar>

    <div id="bottomCont">
      <div id="contentContainer">
        <img src="assets/images/car_main.png"/>
        <div id="vehicleDetails">
          <h6>{{ user_fullname }}</h6>
          <p>Vehice: {{vehicle}}</p>
          <!-- <p>Location: set</p> -->
          <!-- <p id="locationText">{{location}}</p> -->
        </div>
      </div>

      <h1>Confirm details: </h1>
      <p id="serviceOfferedText">Please confirm to continue</p>

      
      <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>View map to see selected location</ion-label>
        </ion-item>
      </ion-card>
      <div id="map">
      </div>


   <ion-item class="divider"></ion-item>
    <div id="pricing">
      <h1>Sub Total: </h1>

      <p>R{{ price }}</p>
   </div>
    <div id="cashBox" style="text-align: left;margin-left: 15px;color: black;">
      <ion-label>Cash</ion-label>
      <ion-checkbox disabled="true" checked="true"></ion-checkbox>
    </div>
    <ion-button expand="block" (click)="confirmPage('none')">Confirm<ion-spinner *ngIf="spinner == true"></ion-spinner></ion-button>
    <div id="buttonSeperator"></div>
    <ion-button expand="block" color="secondary" (click)="homePage()">Cancel</ion-button>  
  </div>

  </div>
</ion-content>
