
<ion-header style="background-color: aliceblue;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!-- <ion-label>Login</ion-label> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="mainBody">
    <ion-progress-bar value="1"></ion-progress-bar>

    <div id="bottomCont">
      <div id="contentContainer">
        <img src="assets/images/car_main.png"/>
        <div id="vehicleDetails">
          <h6>{{ user_fullname }}</h6>
          <!-- <p>Vehice: {{vehicle}}</p> -->
          <!-- <p>Location: set</p> -->
          <!-- <p id="locationText">{{location}}</p> -->
        </div>
      </div>

      <h1>Confirm details: </h1>
      <p id="serviceOfferedText">Please confirm to continue, you can view your selected location on the map below.</p>

      
      <div id="map">
      </div>


   <ion-item class="divider"></ion-item>
    <div id="pricing">
      <h1>Sub Total (including VAT): </h1>

      <p>R{{ price | number : '.2-2' }}</p>
   </div>
    <div id="cashBox">
      <ion-list id="list">
        <ion-radio-group value="biff">
          <ion-list-header>
            <ion-label>Select payment method</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Cash</ion-label>
            <ion-radio slot="start" [disabled]="disable_payment_options" value="Cash" (ionFocus)="payment_method('cash')"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Card</ion-label>
            <ion-radio slot="start" [disabled]="disable_payment_options" value="Card" (ionFocus)="payment_method('card')"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <div id="cardBox">
      <div id="paygateLogo">
        <img src="assets/images/payment.jpeg">
      </div>
    </div>
    <ion-button color="tertiary" *ngIf="payment_mode == 'card'" expand="block" (click)="paygate_initialize()">Continue</ion-button>
    <ion-button *ngIf="payment_mode == 'cash' || payment_mode=='paygate' " expand="block" (click)="confirmPage('none')">Confirm</ion-button>
    <!-- <ion-button *ngIf="payment_mode == 'cash' || payment_mode=='paygate' " expand="block" (click)="Modal()">Confirm<ion-spinner *ngIf="spinner == true"></ion-spinner></ion-button> -->
    <div id="buttonSeperator"></div>


  </div>
  </div>
  <!-- *ngIf="spinner == true" -->
  <div id="requestLoading" *ngIf="spinner == true">
    <p id="locatingText">Locating nearest washer, Please wait.</p>
    <p id="counter">{{ interval_counter }}</p>
    <ion-spinner id="spinner" name="circles"></ion-spinner><br><br>
    <div id="bottomCancelBtn">
      <ion-button expand="block" color="secondary" (click)="homePage()">Cancel</ion-button>  
    </div>
  </div>
</ion-content>
