<ion-header style="background-color: aliceblue;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!-- <ion-label>Login</ion-label> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mainBody">

    <div id="bottomCont">
      <div class="containerDiv">
        <img src='assets/images/car_main.png'/>
      </div><br>
      <p>Proceed with your:</p>
      <h1>Registration</h1><br>
      <div class="containerDiv">
        <ion-item class="itemBlock">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item class="itemBlock">
          <ion-label position="floating">Full name</ion-label>
          <ion-input [(ngModel)]="fullname"></ion-input>
        </ion-item>
        <ion-item class="itemBlock">
          <ion-label position="floating">Mobile</ion-label>
          <ion-input type="tel" [(ngModel)]="mobile"></ion-input>
        </ion-item>
        <ion-item class="itemBlock">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="{{password_type}}" [(ngModel)]="password"></ion-input>
          <ion-icon *ngIf="password_type == 'Password'" name="eye-outline" (click)="viewPassword('text')"  slot="end" class="eye"></ion-icon>
          <ion-icon *ngIf="password_type == 'text'" (click)="viewPassword('Password')"  name="eye-off-outline" slot="end" class="eye"></ion-icon>
        </ion-item>
        <ion-item class="itemBlock">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="{{confirm_password_type}}" type="password" [(ngModel)]="confirm_password"></ion-input>
          <ion-icon *ngIf="confirm_password_type == 'Password'" name="eye-outline" (click)="viewConfirmPassword('text')"  slot="end" class="eye"></ion-icon>
          <ion-icon *ngIf="confirm_password_type == 'text'" (click)="viewConfirmPassword('Password')"  name="eye-off-outline" slot="end" class="eye"></ion-icon>
        </ion-item>
      </div>

      <ion-button expand="block" (click)="Register()">Register</ion-button>
      <div id="registerBtn"></div>

    </div>

  </div>
</ion-content>
